.glass-navbar {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.158) !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  /* border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(161, 164, 197, 0.3); */
  text-align: center;
  font-family: Quicksand;
  font-size:20px;
}


.nav-link-custom {
  color: #ffffff !important;
  transition: 0.3s;
}

.nav-link-custom:hover {
  color: #07b59e!important;
  text-shadow: 0 0 5px rgba(58, 93, 128, 0.192);
}

